---
const { rows }: { rows: Array<{ cells: string[] }> } = Astro.props.node;
---

<table class="table">
  {
    rows.map((row) => (
      <tr>
        {row.cells.map((cell) => (
          <td>{cell}</td>
        ))}
      </tr>
    ))
  }
</table>

<style>
  .table {
    width: 100%;
    table-layout: fixed;

    td {
      display: block;

      @media >tablet {
        display: table-cell;
      }
    }
  }
</style>
