---
import Layout from "@layouts/Layout.astro";
import notFoundImage from "@assets/images/404.jpg";
---

<Layout title="Page not found" description="Page not found">
  <h1>Page not found 😢</h1>

  <div class="main-image">
    <img
      src={notFoundImage.src}
      alt="Photo of Chris Kamara"
      class="main-image__img"
      width="800"
      height="350"
    />
    <div class="main-image__caption">
      <div class="main-image__caption-text">Unbelievable Jeff!</div>
    </div>
  </div>

  <p>
    Sorry, it looks like that page doesn't exists. Please select another from
    the menu.
  </p>
</Layout>

<style>
  .main-image {
    position: relative;
    overflow: hidden;
    margin: calc(var(--vertical-spacing $gutter) * -1);
    font-size: 0.8rem;

    @media >tablet {
      margin: var(--vertical-spacing) 0;
      font-size: 1rem;
    }

    img {
      display: block;
      height: auto;
    }

    &__caption {
      background: var(--colour-red);
      padding: 5px var(--gutter);
      display: inline-block;
      max-width: 70%;

      @media >tablet {
        position: absolute;
        top: 60%;
        right: -50px;
        padding-right: 50px;
        padding-left: calc(var(--gutter) * 2);
        max-width: 35%;
        transform: skew(-30deg);
      }

      &-text {
        padding: 5px 0;
        color: #fff;
        line-height: 1.5;

        @media >tablet {
          padding: 10px 20px 10px 0;
          display: inline-block;
          text-transform: uppercase;
          line-height: 2rem;
          font-weight: bold;
          transform: skew(30deg);
        }
      }
    }

    &__attribution {
      padding: 5px var(--gutter);
      text-align: left;

      @media >tablet {
        padding: 5px 0;
        font-size: 0.8rem;
      }
    }
  }
</style>
