---
import Layout from "@layouts/Layout.astro";
---

<Layout title="Trial" description="Apply for a district trial">
  <div class="trial-form">
    <div class="ml-embedded" data-form="29OKUs"></div>
  </div>
</Layout>

<script is:inline>
  (function (w, d, e, u, f, l, n) {
    (w[f] =
      w[f] ||
      function () {
        (w[f].q = w[f].q || []).push(arguments);
      }),
      (l = d.createElement(e)),
      (l.async = 1),
      (l.src = u),
      (n = d.getElementsByTagName(e)[0]),
      n.parentNode.insertBefore(l, n);
  })(
    window,
    document,
    "script",
    "https://assets.mailerlite.com/js/universal.js",
    "ml",
  );
  ml("account", "960053");
</script>

<style lang="scss" is:global>
  .trial-form {
    @include mq($from: tablet) {
      width: 70%;
    }
  }

  input.custom-control-input[type="checkbox"] {
    z-index: auto !important;
  }

  .ml-form-formContent {
    margin-bottom: 100px !important;
  }

  .ml-field-group label {
    padding: 0;
  }
</style>
